@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap');

h1,p,a,#link{
    font-family: 'Antonio',sans-serif;
    text-align: center;
    text-decoration: none;
}

table,th,td{
    border:1px solid black;
}


table{
    width:100%;
}
a:hover{
    text-decoration: underline;
    color:blue;
}

body{
    background-color:#F2F8FD;
}

p{
    font-size: 300%;
}